*{box-sizing: border-box;}
body {
    margin: 0;
    padding: 0;
    background-color: rgba(59, 59, 59, 1)!important;
}
.bt1 {
    display: flex;
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: var(--call-to-action, #A259FF);
    color: #FFF;
    border: none;
}